<!DOCTYPE HTML>

<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <!-- enkodowanie -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title> Wypożyczalnia Rowerów</title>

    <meta content="Możesz u nas wypożyczyczyć każdy rower jaki sobie wymarzysz!" name="description"/>
    <!-- to pod tytułem w google (155-160 znaków)" -->
    <meta content="wynajmij, rower, wypozyczanie, rowerzysta, tanio" name="keywords"/>
    <!-- słowa kluczowe wyszukiwania -->
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Lista <br/> wypożyczalni</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
<div id="container">
    <div class="rectangle">
        <div id="logo"><a class="tilelinkhtml5" href="index.html">Wypożyczalnia Rowerów CzaDer</a></div>
        <div style="clear: both;"></div>
    </div>
    <div class="square">
        <a th:href="@{/rentalOffice/register}">
            <div class="tile1">
                Zarejestruj wypożyczalnię
            </div>
        </a>
        <a th:href="@{/rentalOffice/register}">
            <div class="tile1">
                Zarejestruj wypożyczalnię
            </div>
        </a>
        <div style="clear: both;"></div>
        <a th:href="@{/rentalOffice/register}">
            <div class="tile2">
                Zarejestruj wypożyczalnię
            </div>
        </a>
        <a th:href="@{/rentalOffice/register}">
            <div class="tile3">
                Zarejestruj wypożyczalnię
            </div>
        </a>
        <div style="clear: both;"></div>
        <div class="tile4">
            <i>Wypożycz rower swoich marzeń!</i><br/>- Feliks Czart, twórca Linuxa
        </div>
    </div>
    <div class="square">
        <div class="tile5">
            Opis aplikacji <br/><br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel odio ac enim
            vulputate vestibulum. Nam sed velit ornare, suscipit sapien et, gravida lacus. Pellentesque sed lectus et
            elit aliquam luctus. Curabitur
            tempor lacinia nulla, sed cursus erat sodales vitae. Donec at cursus lectus. Morbi non tempor arcu. Etiam
            nec nisi nisl.
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
    <div class="rectangle">
        2020 &copy; Feliks Czart - Portfolio. Programista webowy zaprasza do współpracy! <br/> <i
            class="icon-mail-alt"></i> czart78@gmail.com
    </div>

</div>
</main>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>

</html>