<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożycz</title>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img alt="company logo" class="navigation__logo" th:src="@{/images/czader.png}">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/my-profile}">Twój<br/>profil</a>
            </div>
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <div th:if="${user.rentalOffice == null}">
                    <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                </div>
                <div th:if="${user.rentalOffice != null}">
                    <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
                </div>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Nasze <br/> wypożyczalnie</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <h1>Formularz wypożyczenia</h1>
    <div th:if="${blocked == 1}">
        Użytkownik został zablokowany i nie może wypożyczać rowerów z naszej wypożyczalni
    </div>
    <form action="#" method="post"
          th:action="@{/rentalOffice/{rental_id}/bike/{bike_id} (rental_id = ${rentalId}, bike_id = ${bikeId})}">
        <p>Imię i nazwisko: <input autocomplete="off" required th:name="fullName" th:value="${rental.fullName}"
                                   type="text"/></p>
        <p>numer telefonu: <input autocomplete="off" min="0" required th:name="phoneNumber"
                                  th:value="${rental.phoneNumber}" type="number"/></p>

        <div class="registry__element">
            <input class="registry__element-submit input-button-style" type="submit" value="Wypożycz"/>
            <input class="registry__element-reset input-button-style" type="reset" value="Reset"/>
        </div>

    </form>
</main>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>
</html>