<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Wypożyczalnie</title>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Lista <br/> wypożyczalni</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
<h1>Formularz Dodania Wypożyczalni</h1>
<form action="#" method="post" th:action="@{/rentalOffice/{rental_id}/bikes(rental_id=${rentalOffice.id})}">
    <p>Cena: <input min="0" required step="0.01" th:name="pricePerHour" th:value="${bike.pricePerHour}" type="number" autocomplete="off"/>
    </p>
    <p>Stan: <input required th:name="bikeState" th:value="${bike.bikeState}" type="text" autocomplete="off"/></p>
    <p>Nazwa Modelu: <input required th:name="bikeModel.name" th:value="${bike.bikeModel.name}" type="text" autocomplete="off"/></p>
    <p>Marka: <input required th:name="bikeModel.brand" th:value="${bike.bikeModel.brand}" type="text" autocomplete="off"/></p>
    <p>Typ roweru: <input required th:name="bikeModel.type" th:value="${bike.bikeModel.type}" type="text" autocomplete="off"/></p>
    <p>Liczba: <input required th:name="number" th:value="${number}" type="number" min="1" autocomplete="off"/></p>
    <p><input type="submit" value="Zapisz"/> <input type="reset" value="Reset"/></p>
</form>
<a th:href="@{/}">Wróć</a>
</main>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>
</html>