<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Wypożyczalnie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img alt="company logo" class="navigation__logo" th:src="@{/images/czader.png}">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
        <a class="navigation__link" href="nauka-html.html">Wynajmij rowej <br/> bez rejestracji</a>
        <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
        <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
    </nav>
</header>
<main>
    <h1 class="registry__header">Reklamacja</h1>

    <form action="#" method="post" th:action="@{/my-rental/{id}/complaint(id = ${rental.id})}">
        <div class="registry__element">
            <input class="registry__element-label" placeholder="Tytuł" required th:name="title"
                   th:value="${rental.complaints.title}" type="text"/>
            <textarea cols="33" id="rental.complaints.description" placeholder="Treść Reklamacji" required rows="5"
                      th:name="description"></textarea>
        </div>
        <div class="registry__element">
            <input class="registry__element-submit" type="submit" value="Dodaj"/>
            <input class="registry__element-reset" type="reset" value="Reset"/>
        </div>
    </form>
</main>
</body>
</html>