<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Wypożyczalnie</title>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Lista <br/> wypożyczalni</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <h1 class="registry__header">Reklamacja</h1>

    <form action="#" method="post" modelAttribute="rental"
          th:action="@{/myRentals/{rental_id}/complaint(rental_id = ${rental.id})}">
        <div class="registry__element">
            <input class="registry__element-label" placeholder="Tytuł" required th:name="complaints.title"
                   th:value="${rental.complaints.title}" type="text" autocomplete="off"/>
            <br>
            <textarea cols="33" id="rental.complaints.description" placeholder="Treść Reklamacji" required rows="5"
                      th:name="complaints.description"></textarea>
        </div>
        <div class="registry__element">
            <input class="registry__element-submit" type="submit" value="Dodaj"/>
            <input class="registry__element-reset" type="reset" value="Reset"/>
        </div>
    </form>
</main>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>
</html>