<!DOCTYPE HTML>

<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!-- enkodowanie -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> Wypożyczalnia Rowerów</title>

    <meta name="description" content="Możesz u nas wypożyczyczyć każdy rower jaki sobie wymarzysz!" />
    <!-- to pod tytułem w google (155-160 znaków)" -->
    <meta name="keywords" content="wynajmij, rower, wypozyczanie, rowerzysta, tanio" />
    <!-- słowa kluczowe wyszukiwania -->

    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<!--<p>Witaj, </p>-->
<!--<p th:text ="${username}">Witaj</p>-->
    <header>
        <nav class="navigation">
            <a th:href="@{/index}">
                <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
            </a>
            <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
            <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
            <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>

            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </nav>
    </header>

    <main>
        <section class="oferts__block">
            <a class="oferts__block-title" th:href="@{/myRentals}"><b>Twoje<br/>wypożyczenia</b></a>
        </section>
        <section class="oferts__block">
            <a class="oferts__block-title" th:href="@{/rentalOffice}"><b>Lista <br/> wypożyczalni</b></a>
            <!--            <h3 class="oferts__block-title">Wypożyczalnie</h3>-->
        </section>
    </main>
    <footer>
        <img class="footer__animation" th:src="@{/images/rowerzysta.png}">
    </footer>


</body>

</html>