<!DOCTYPE HTML>

<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!-- enkodowanie -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> Wypożyczalnia Rowerów</title>

    <meta name="description" content="Możesz u nas wypożyczyczyć każdy rower jaki sobie wymarzysz!" />
    <!-- to pod tytułem w google (155-160 znaków)" -->
    <meta name="keywords" content="wynajmij, rower, wypozyczanie, rowerzysta, tanio" />
    <!-- słowa kluczowe wyszukiwania -->

    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

    <header>
        <nav class="navigation">
            <a th:href="@{/index}">
                <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
            </a>
            <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
            <a class="navigation__link" th:href="@{/registration}" target="_blank">Rejestracja <br/> klienta</a>
            <a class="navigation__link" href="nauka-html.html" target="_blank">Wynajmij rowej <br/> bez rejestracji</a>
            <a class="navigation__link" th:href="@{/rentalOffice/register}" target="_blank">Rejestracja <br/> wypożyczalni</a>
        </nav>
    </header>

    <main>
        <header id="top">
            <h1 class="main-heading main-heading--js">Main heading!</h1>
            <!-- main-heading--js - klasa potrzebna do połączenia z js-->
            <h2 class="hotpink-header">Siema jestem Felek i nie mam szelek! - Strona robiona w ramach WTF!!!!!!!!!!!!</h2>
            <h2 id="hotpink-id">Siema jestem Felek i nie mam szelek!</h2>
        </header>
        <section>
            <h2>Link do szkolenia:</h2>
            <a href="https://devstyle.mykajabi.com/library" target="_blank">WTF</a> <br />
            <a href="#notatki">Przejdz do notatek</a>
        </section>
        <section>
            <h2>Kim jestem?</h2>
            <img class="photo" src="ja.jpg" alt="To ja :)" />
            <p> <b>Donec</b> <strong>sit amet</strong> <i>asaafsdgs</i> massa <em>vdfksnjf</em> sit amet orci elementum gravida id quis magna.
                <br /> Integer ornare quam vitae ante iaculis, nec porttitor lorem cursus. In ac bibendum ante.</p>
        </section>
        <section id="notatki">
            <h2>Notes:</h2>
            <article class="week-summary">
                <h3 class="week-summary__title">Proin congue pulvinar tellus, vel congue ex maximus vitae.</h3>
                <p class="week-summary__description">Sed fringilla neque leo. Etiam rhoncus, ante sed ullamcorper mollis, sem enim pharetra leo, aliquam finibus magna erat imperdiet lacus.</p>
            </article>
            <article class="week-summary">
                <h3 class="week-summary__title">Pytanie?</h3>
                <p class="week-summary__description">Mauris in tortor magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris scelerisque nunc eget metus posuere egestas. Quisque dapibus commodo ipsum.
                </p>
            </article>
        </section>
    </main>
    <footer>
        Stopa <a href="#top">Przejdz do nagłówka</a>
    </footer>


</body>

</html>