<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login </title>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Lista <br/> wypożyczalni</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1 class="registry__header">Zaloguj się do serwisu</h1>
    <form role="form" method="post" th:action="@{/login}"> <!--dodać th:object="${user}"-->
        <div class="registry__element"> <!--dodać th:field="*{nick}" v-->
            <input class="registry__element-label" id="nick" name="username" placeholder="Nick"
                   title="Podaj nazwę użytkownika" type="text" autocomplete="off">
            <input class="registry__element-label" id="password" name="password" placeholder="Hasło" title="Podaj hasło" type="password" autocomplete="off">
        </div>
        <div class="registry__element">
            <input name="Zaloguj się" type="Submit" value="Zaloguj" class="registry__element-submit" autocomplete="off">
        </div>
    </form>

    <p class="no-account">Nie masz konta? <a th:href="@{/registration}"> Zarejestruj się</a></p>
    <footer>
        <div class="footer__bottom"></div>
    </footer>
</main>
</body>
</html>