<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twoje dane</title>
    <style> p {
        display: inline-flex;
    }</style>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/my-profile}">Twój<br/>profil</a>
            </div>
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <div th:if="${user.rentalOffice == null}">
                    <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                </div>
                <div th:if="${user.rentalOffice != null}">
                    <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
                </div>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Nasze <br/> wypożyczalnie</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <table class="content-table">
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Nazwa użytkownika</b></td>
            <td th:text="${user.nick}">Nick</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Imię</b></td>
            <td th:text="${user.name}">Imię</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Nazwisko</b></td>
            <td th:text="${user.surname}">Nazwisko</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Płeć</b></td>
            <td th:text="${user?.gender}">Płeć</td>
        </tr>
        <tr>
            <td style="border-right: solid 2px #342E37;"><b>Wiek</b></td>
            <td th:if="${user?.age == 0}"></td>
            <td th:if="${user?.age > 0}" th:text="${user?.age}">Wiek</td>
        </tr>
    </table>

    <a class="page-button" th:href="@{/my-profile/edit}">Edytuj</a>
</main>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>
</html>