<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Moje Wypożyczenia</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
        <a class="navigation__link" href="nauka-html.html">Wynajmij rowej <br/> bez rejestracji</a>
        <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
        <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
    </nav>
</header>
<main>
<table>
    <tr>
        <th>ID</th>
        <th>Data Rozpoczęcia</th>
        <th>Data Zakończenia</th>
        <th>Cena</th>
        <th>Nazwa Roweru</th>
        <th>Nazwisko Użytkownika</th>
        <th>Miasto</th>
        <th>Zakończ Wypożyczenie</th>
        <th>reklamacja</th>
    </tr>
    <tr th:each="rental : ${rentals}">
        <td th:text="${rental.id}">ID</td>
        <td th:text="${rental.startDate}">Miasto</td>
        <td th:text="${rental?.endDate}">Kod pocztowy</td>
        <td th:text="${rental?.price}">Adres</td>
        <td th:text="${rental.bike.bikeModel.name}">Województwo</td>
        <td th:text="${rental.user?.surname}">Adres</td>
        <td th:text="${rental.rentalOffice.city}">Powiat</td>
        <td>
            <span th:if="${rental?.endDate != null}">Zakończono</span>
            <span th:if="${rental?.endDate == null}"><a th:href="@{/myRentals/{id}(id = ${rental.id})}">Zakończ Wypożyczenie</a></span>
        </td>
        <td>
            <span th:if="${rental?.endDate != null}"><a th:href="@{/myRentals/{id}/complaint (id = ${rental.id})}">reklamacja</a></span>
            <span th:if="${rental?.endDate == null}"></span>
        </td>

    </tr>
</table>
<a th:href="@{/}"> Wróć</a>
</main>
</body>
</html>