<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moje Wypożyczenia</title>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/my-profile}">Twój<br/>profil</a>
            </div>
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <div th:if="${user.rentalOffice == null}">
                    <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                </div>
                <div th:if="${user.rentalOffice != null}">
                    <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
                </div>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Nasze <br/> wypożyczalnie</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <table id="rentalsList" class="content-table">
        <tr class="table__head">
            <th>Data Rozpoczęcia</th>
            <th>Data Zakończenia</th>
            <th>Cena</th>
            <th>Nazwa Roweru</th>
            <th>Nazwa Użytkownika</th>
            <th>Miasto</th>
            <th>Zakończ Wypożyczenie</th>
            <th>Reklamacja</th>
        </tr>
        <tr th:each="rental : ${rentals}">
            <td th:text="${rental.startDate}">Data Rozpoczęcia</td>
            <td th:text="${rental?.endDate}">Data Zakończenia</td>
            <td th:text="${rental?.price}">Cena</td>
            <td th:text="${rental.bike.bikeModel.name}">Nazwa Roweru</td>
            <td th:text="${rental.user?.surname}">Nazwa Użytkownika</td>
            <td th:text="${rental.rentalOffice.city}">Miasto</td>
            <td>
                <span th:if="${rental?.endDate != null}">Zakończono</span>
                <span th:if="${rental?.endDate == null}"><a th:href="@{/myRentals/{id}(id = ${rental.id})}">Zakończ Wypożyczenie</a></span>
            </td>
            <td>
            <span th:if="${rental?.complaints == null}"><a
                    th:href="@{/myRentals/{rental_id}/complaint (rental_id = ${rental.id})}">złóż</a></span>
                <span th:if="${rental?.complaints != null}"><a
                        th:href="@{/myRentals/{rental_id}/show (rental_id = ${rental.id})}">zobacz</a></span>
            </td>

        </tr>
    </table>
    <a th:href="@{/}"> Wróć</a>
</main>
<div style="height: 10px"></div>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>
</html>