<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot User Authentication</title>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/my-profile}">Twój<br/>profil</a>
            </div>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user == null}">
                <div th:if="${user.rentalOffice == null}">
                    <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                </div>
                <div th:if="${user.rentalOffice != null}">
                    <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
                </div>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Nasze <br/> wypożyczalnie</a>
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user != null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user == null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
    <h1 class="registry__header">Utwórz konto w wypożyczalni</h1>
    <form role="form" th:action="@{/registration}" th:method="post" th:object="${user}">
        <div class="registry__element">
            <input id="name" name="name" th:field="*{name}" type="text" placeholder="Imię" title="Podaj swoje imię"
                   class="registry__element-label input-style" autocomplete="off">
            <input id="surname" name="surname" th:field="*{surname}" type="text" placeholder="Nazwisko"
                   title="Podaj swoje nazwisko" class="registry__element-label input-style" autocomplete="off">
        </div>

        <div class="registry__element">
            <input class="registry__element-label input-style" id="nick" name="user.nick" placeholder="Nick" th:field="*{nick}"
                   title="Podaj nazwę użytkownika" type="text" autocomplete="off">
            <input class="registry__element-label input-style" id="password" name="user.password" placeholder="Hasło"
               th:field="*{password}" title="Podaj hasło" type="password" autocomplete="off">
    </div>
    <div class="registry__element">
        <input name="Zarejestruj się" type="Submit" class="registry__element-submit input-button-style">
    </div>
</form>
    <div class="error" th:if="${exist}">
        Konto o takiej nazwie już istnieje!
    </div>
</main>
<footer class="footer__general">
    <div class="footer__bottom"></div>
</footer>
</body>
</html>