<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Wypożyczalni</title>
    <style> p {
        display: inline-flex;
    }</style>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img alt="company logo" class="navigation__logo" th:src="@{/images/czader.png}">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
        <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
        <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
        <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
    </nav>
</header>
<main>
    <div>
        <p th:text="${rental.complaints.title}">tytul</p>
    </div>
    <div>
        <p>Użytkownik: </p>
        <p th:text="${rental.user.surname}">Kod pocztowy</p>
    </div>
    <div>
        <p th:text="${rental.complaints.description}">opis</p>
    </div>
    <a th:href="@{/}"> Wróć</a>
</main>
</body>
</html>