<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Wypożyczalni</title>
    <style>td {
        border: 1px solid black;
    }</style>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
        <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
        <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
        <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
    </nav>
</header>
<main>
<table>
    <tr>
        <th>ID</th>
        <th>Miasto</th>
        <th>Kod Pocztowy</th>
        <th>Adres</th>
        <th>Województwo</th>
        <th>Powiat</th>
        <th>Rowery</th>
        <!--        <th>Rezerwacja</th>-->
    </tr>
    <tr th:each="rentalOffice : ${rentalOffices}">
        <td th:text="${rentalOffice.id}">ID</td>
        <td th:text="${rentalOffice.city}">Miasto</td>
        <td th:text="${rentalOffice.zip}">Kod pocztowy</td>
        <td th:text="${rentalOffice.address}">Adres</td>
        <td th:text="${rentalOffice.region?.voivodeship}">Województwo</td>
        <td th:text="${rentalOffice.region?.district}">Powiat</td>
        <td><a th:href="@{/rentalOffice/{id} (id = ${rentalOffice.id})}">Zobacz Rowery</a></td>
    </tr>
</table>
<a th:href="@{/}"> Wróć</a>
</main>
</body>
</html>