<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Rowerów</title>
    <style>td {
        border: 1px solid black;
    }</style>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/filter.js}"></script>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
        <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
        <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
        <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
    </nav>
</header>
<main>
    <input id="search" name="keyword" placeholder="Szukaj..." type="text" autocomplete="off">
<table id="bikeList">
    <tr>
        <th>Cena</th>
        <th>Model</th>
        <th>Marka</th>
        <th>Typ</th>
        <th>Stan</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="bike : ${bikes}">
        <div th:if="${bike.bikeState != 'niedostępny'}">
        <td th:text="${bike.pricePerHour}">Cena</td>
        <td th:text="${bike.bikeModel?.name}">Model</td>
        <td th:text="${bike.bikeModel?.brand}">Marka</td>
        <td th:text="${bike.bikeModel?.type}">Typ</td>
        <td th:text="${bike.bikeState}">Stan</td>
        <td>
            <a th:href="@{/rentalOffice/{rental_id}/bike/{bike_id} (rental_id = ${id}, bike_id = ${bike.id})}">Wypożycz</a>
        </td>
        <td>
            <a th:href="@{/rentalOffice/{rental_id}/remove/{bike_id}(rental_id = ${id}, bike_id = ${bike.id})}">Usuń</a>
        </td>
        </div>
    </tr>
</table>
    <script th:inline="javascript">
        var bikes = [[${bikes}]];
        search(bikes, [[${id}]])
    </script>

<a th:href="@{/}"> Wróć</a>
<a th:href="@{/rentalOffice/{id}/bikes(id=${id})}"> Dodaj Rower</a>
</main>
</body>
</html>