<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Rowerów</title>
    <style>td {
        border: 1px solid black;
    }</style>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Cena</th>
        <th>Stan</th>
        <th>Model</th>
        <th>Marka</th>
        <th>Typ</th>
        <!--        <th>Rezerwacja</th>-->
    </tr>
    <tr th:each="bike : ${bikes}">
        <td th:text="${bike.id}">ID</td>
        <td th:text="${bike.pricePerHour}">Cena</td>
        <td th:text="${bike.bikeState}">Stan</td>
        <td th:text="${bike.bikeModel?.name}">Model</td>
        <td th:text="${bike.bikeModel?.brand}">Marka</td>
        <td th:text="${bike.bikeModel?.type}">Typ</td>
        <!--        <td><a th:href="@{/reservations/{id} (id = ${bike.id})}">Rezerwuj</a></td>-->
    </tr>
</table>
<a th:href="@{/}"> Wróć</a>
<a th:href="@{/rentalOffice/{id}/bikes(id=${id})}"> Dodaj Rower</a>
</body>
</html>