<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Wypożyczalni</title>
    <style> p {
        display: inline-flex;
    }</style>
    <link rel="icon" th:href="@{/images/row-logo.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <div class="navigation__link-position">
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/my-profile}">Twój<br/>profil</a>
            </div>
            <div th:if="${user == null}">
                <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
            </div>
            <div th:if="${user != null}">
                <div th:if="${user.rentalOffice == null}">
                    <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
                </div>
                <div th:if="${user.rentalOffice != null}">
                    <a class="navigation__link" th:href="@{/your/rentalOffice}">Twoja <br/> Wypożyczalnia</a>
                </div>
            </div>
            <a class="navigation__link" th:href="@{/rentalOffice}">Nasze <br/> wypożyczalnie</a>
            <div th:if="${user != null}">
                <a class="navigation__link" th:href="@{/myRentals}">Twoje<br/>wypożyczenia</a>
            </div>
        </div>
        <div th:if="${user == null}">
            <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
        </div>
        <div th:if="${user != null}">
            <form method="post" th:action="@{/logout}">
                <button class="navigation__logout" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>
<main>
<div>
    <p>Właściciel: </p>
    <p th:text="${user.surname}">Nazwisko</p>
</div>
<div>
    <p>Miasto: </p>
    <p th:text="${user.rentalOffice.city}">miasto</p>
</div>
<div>
    <p>Kod pocztowy: </p>
    <p th:text="${user.rentalOffice.zip}">Kod pocztowy</p>
</div>
<div>
    <p>Adres: </p>
    <p th:text="${user.rentalOffice.address}">Adres</p>
</div>
<div>
    <p>Województwo: </p>
    <p th:text="${user.rentalOffice.region?.voivodeship}">Wojewodztwo</p>
</div>
<div>
    <p>Powiat: </p>
    <p th:text="${user.rentalOffice.region?.district}">Powiat</p>
</div>
<a th:href="@{/rentalOffice/edit}">Edytuj</a>
<a th:href="@{/}"> Wróć</a>
</main>
<footer>
    <div class="footer__bottom"></div>
</footer>
</body>
</html>