<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Lista Wypożyczalni</title>
    <style> p {
        display: inline-flex;
    }</style>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/index}">
            <img class="navigation__logo" th:src="@{/images/czader.png}" alt="company logo">
        </a>
        <a class="navigation__link navigation__link-homepage" th:href="@{/index}">Strona główna</a>
        <a class="navigation__link" th:href="@{/registration}">Rejestracja <br/> klienta</a>
        <a class="navigation__link" href="nauka-html.html">Wynajmij rowej <br/> bez rejestracji</a>
        <a class="navigation__link" th:href="@{/rentalOffice/register}">Rejestracja <br/> wypożyczalni</a>
        <a class="navigation__login" th:href="@{/login}">Zaloguj się</a>
    </nav>
</header>
<main>
<div>
    <p>Właściciel: </p>
    <p th:text="${user.surname}">Nazwisko</p>
</div>
<div>
    <p>Miasto: </p>
    <p th:text="${user.rentalOffice.city}">miasto</p>
</div>
<div>
    <p>Kod pocztowy: </p>
    <p th:text="${user.rentalOffice.zip}">Kod pocztowy</p>
</div>
<div>
    <p>Adres: </p>
    <p th:text="${user.rentalOffice.address}">Adres</p>
</div>
<div>
    <p>Województwo: </p>
    <p th:text="${user.rentalOffice.region?.voivodeship}">Wojewodztwo</p>
</div>
<div>
    <p>Powiat: </p>
    <p th:text="${user.rentalOffice.region?.district}">Powiat</p>
</div>
<a th:href="@{/rentalOffice/edit}">Edytuj</a>
<a th:href="@{/}"> Wróć</a>
</main>
</body>
</html>